fastapi>=0.115.0,<1.0.0
uvicorn[standard]>=0.34.0,<1.0.0
python-multipart>=0.0.20,<1.0.0
soundfile>=0.13.0,<1.0.0
setuptools==81.*
numba==0.61.2
llvmlite==0.44.0
numpy>=1.24.0,<1.26.0
librosa==0.11.0
transformers==4.46.3
diffusers==0.29.0
resemble-perth==1.0.1
safetensors==0.5.3
spacy-pkuseg==1.0.1
pykakasi==2.3.0
einops==0.8.1
onnx==1.19.1
pyloudnorm==0.2.0
omegaconf==2.3.0
